header {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

body {
    background-color: #f5f6fa;
}
.logo {
    width: 10%;
}


/* home style */
.post-form {
    background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    width: 90%;
}

.posts-container {
    width: 90%;
}

.post {
    border:1px solid #f5f6fa; 
    padding:10px;
    margin-bottom:15px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
}
.container-img {
    aspect-ratio: 1 / 1;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}
.container-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* comments style */
.comments {
    margin-top: 15px;
    padding-left: 15px;
    /* border-left: 3px solid #8a2be2; */
}

.comment {
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.comment:last-child {
    border-bottom: none;
}

.comment-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.comment-form button {
    padding: 6px 12px;
    border-radius: 5px;
    background-color: #ff69b4;
}
.comment-form button:hover {
    background-color: #8a2be2;
}

/* button and link style */
.publish, .login, .submit, .edit {
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #2563eb;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.link, .signin, .login, .logout, .edit, .delete {
    text-decoration: none;
}

.logout, .delete {
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.signin {
    background-color: white;
    color: #2563eb;
    border-radius: 5px;
    border: 2px solid #2563eb;
    padding: 5px 10px;
    transition: all ease 0.2s;
}

.login {
    border: 2px solid #2563eb;
    padding: 5px 10px;;
}

.publish:hover, .logout:hover, .login:hover, .signin:hover {
    transform: scale(1.05);
}

/* error style */
.error {
    color: red; 
    padding: 10px; 
    background: #ffe0e0; 
    border-radius: 5px; 
    margin-bottom: 20px;
}